Repository lacuna-tech/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint, pnpm lint:prettier

Apply suggestions from code review
  packages/mds-collector-backend/service/provider.ts
Due: pnpm lint:eslint

Incorporate review feedback
  packages/mds-collector-api/handlers/write-schema-messages.ts
  packages/mds-collector-api/tests/api.spec.ts
  packages/mds-collector-backend/@types/index.ts
  packages/mds-collector-backend/repository/entities/index.ts
  packages/mds-collector-backend/repository/index.ts
  packages/mds-collector-backend/repository/migrations/1612209108259-CreateCollectorMessagesTable.ts
  packages/mds-collector-backend/service/provider.ts
  packages/mds-collector-backend/tests/service.spec.ts
Due: pnpm lint:eslint

Hiding the awkward Ajv API behind SchemaValidator
  packages/mds-collector-backend/schema-validator.ts
  packages/mds-collector-backend/service/provider.ts
  packages/mds-collector-backend/tests/schema-validator.spec.ts
Due: pnpm lint:eslint

Refactor repository cleansing in tests, add cleansing safeguard
  packages/mds-transactions-service/repository/index.ts
  packages/mds-transactions-service/tests/transaction-operations.spec.ts
  packages/mds-transactions-service/tests/transaction-statuses.spec.ts
  packages/mds-transactions-service/tests/transactions.spec.ts
Due: pnpm lint:eslint

Add Transaction API Tests & express error handling middleware
  package.json
  packages/mds-transactions-api/api/index.ts
  packages/mds-transactions-api/handlers/add-operation.ts
  packages/mds-transactions-api/handlers/create-transaction.ts
  packages/mds-transactions-api/handlers/create-transactions.ts
  packages/mds-transactions-api/handlers/get-operations.ts
  packages/mds-transactions-api/handlers/get-statuses.ts
  packages/mds-transactions-api/handlers/get-transaction.ts
  packages/mds-transactions-api/handlers/get-transactions.ts
  packages/mds-transactions-api/handlers/set-status.ts
  packages/mds-transactions-api/middleware/index.ts
  packages/mds-transactions-api/middleware/transaction-api-error.ts
  packages/mds-transactions-api/package.json
  packages/mds-transactions-api/tests/index.spec.ts
  packages/mds-transactions-api/tests/transaction-operations.spec.ts
  packages/mds-transactions-api/tests/transaction-statuses.spec.ts
  packages/mds-transactions-api/tests/transactions.spec.ts
  packages/mds-transactions-service/index.ts
  packages/mds-transactions-service/test-fixtures/index.ts
  packages/mds-transactions-service/tests/transaction-operations.spec.ts
  packages/mds-transactions-service/tests/transaction-statuses.spec.ts
  packages/mds-transactions-service/tests/transactions.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Bump Typedoc version to resolve audit advisory
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Consolidate error cases
  packages/mds-transactions-api/middleware/transaction-api-error.ts
Due: pnpm lint:eslint

Upgrade to TypeScript 4.2
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Fix new TypeScript 4.2 build errors
  packages/mds-metrics-sheet/metrics-log.ts
  packages/mds-repository/@types/index.ts
  packages/mds-repository/mixins/identity-column.ts
  packages/mds-repository/mixins/recorded-column.ts
Due: pnpm lint:eslint

Run lint during Build stage instead of Test stage
  Jenkinsfile
Due: none

Main structure of rework, need to fix tests & usage
  packages/mds-logger/index.ts
  packages/mds-logger/tests/index.spec.ts
Due: pnpm lint:eslint

MDS-Logger tests passing
  packages/mds-logger/index.ts
  packages/mds-logger/tests/index.spec.ts
Due: pnpm lint:eslint

Update usage to conform with new API
  packages/mds-agency-cache/index.ts
  packages/mds-agency/agency-candidate-request-handlers.ts
  packages/mds-agency/api.ts
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/sandbox-admin-request-handlers.ts
  packages/mds-agency/utils.ts
  packages/mds-attachment-service/service/helpers/index.ts
  packages/mds-attachment-service/service/provider.ts
  packages/mds-audit/api.ts
  packages/mds-compliance/api.ts
  packages/mds-daily/api.ts
  packages/mds-daily/db-helpers.ts
  packages/mds-daily/request-handlers.ts
  packages/mds-db/client.ts
  packages/mds-db/sql-utils.ts
  packages/mds-geography-author/api.ts
  packages/mds-geography-service/service/provider.ts
  packages/mds-geography/api.ts
  packages/mds-jurisdiction-service/service/provider.ts
  packages/mds-logger/index.ts
  packages/mds-logger/package.json
  packages/mds-policy-author/api.ts
  packages/mds-policy/api.ts
  packages/mds-stream/index.ts
  packages/mds-transaction-api/middleware/transaction-api-error.ts
  packages/mds-transaction-service/service/provider.ts
Due: pnpm lint:eslint, pnpm lint:prettier

Handle undefined a bit better
  packages/mds-logger/index.ts
  packages/mds-logger/tests/index.spec.ts
  packages/mds-stream/tests/mock-stream.test.ts
Due: pnpm lint:eslint

Agency tests & build passing
  packages/mds-agency/agency-candidate-request-handlers.ts
  packages/mds-agency/api.ts
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/sandbox-admin-request-handlers.ts
  packages/mds-agency/utils.ts
Due: pnpm lint:eslint

Unused import
  packages/mds-stream/tests/mock-stream.test.ts
Due: pnpm lint:eslint

Remove unused new typedefs
  packages/mds-logger/index.ts
Due: pnpm lint:eslint

Update dev (tool) dependencies
  .eslintrc.json
  package.json
  packages/mds-webpack-config/package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Use prepare script to install latest Husky
  .husky/.gitignore
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Undo test change, curry log function, narrow type for redact
  packages/mds-logger/index.ts
  packages/mds-logger/tests/index.spec.ts
Due: pnpm lint:eslint

Update @typescript-eslint for TS 4.2
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Remove ESLint Airbnb config that hides errors
  .eslintrc.json
  package.json
  packages/mds-compliance/mds-compliance-engine.ts
  packages/mds-policy-author/api.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Rename RPC/REPL env vars
  env.jenkins
  helm/mds/templates/deployment.yaml
  packages/mds-collector-backend/client/index.ts
  packages/mds-collector-backend/service/manager.ts
Due: pnpm lint:eslint

Some of the best changes ever
  test.txt
Due: none

Agency, but cooler
  packages/mds-agency/package.json
Due: pnpm lint:prettier

Rename some backend methods
  packages/mds-collector-api/tests/api.spec.ts
  packages/mds-collector-backend/server/index.ts
  packages/mds-collector-backend/service/backend.ts
  packages/mds-collector-backend/tests/service.spec.ts
Due: pnpm lint:eslint

Move images.txt touching to function, also create dist folder if not exists
  bin/build-helper
Due: none

More safe access
  bin/build-helper
Due: none

Use [[ ]]
  bin/build-helper
Due: none

Semicolons are important
  bin/build-helper
Due: none

trip report WIP
  packages/mds-db/events.ts
Due: pnpm lint:eslint

Upgrade to node 15
  .nvmrc
  Jenkinsfile
  container-images/mds-agency/Dockerfile
  container-images/mds-attachment-service/Dockerfile
  container-images/mds-audit-service/Dockerfile
  container-images/mds-audit/Dockerfile
  container-images/mds-compliance/Dockerfile
  container-images/mds-daily/Dockerfile
  container-images/mds-geography-author/Dockerfile
  container-images/mds-geography-service/Dockerfile
  container-images/mds-geography/Dockerfile
  container-images/mds-ingest-service/Dockerfile
  container-images/mds-jurisdiction-service/Dockerfile
  container-images/mds-jurisdiction/Dockerfile
  container-images/mds-metrics-sheet/Dockerfile
  container-images/mds-policy-author/Dockerfile
  container-images/mds-policy-service/Dockerfile
  container-images/mds-policy/Dockerfile
  container-images/mds-transaction-api/Dockerfile
  container-images/mds-transaction-service/Dockerfile
  okteto.yml
  package.json
Due: pnpm lint:prettier

valid types for query return
  packages/mds-db/events.ts
Due: pnpm lint:eslint

even more valid types for query return
  packages/mds-db/events.ts
Due: pnpm lint:eslint

valid SQL
  packages/mds-db/events.ts
Due: pnpm lint:eslint

gotta stop commiting so much valid SQL
  packages/mds-db/events.ts
Due: pnpm lint:eslint

Prevent connection exhaustion following client cold start
  packages/mds-db/client.ts
  packages/mds-db/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Add schema registration method to the collector service.
  README.md
  container-images/mds-collector-api/package.json
  container-images/mds-collector-backend/package.json
  packages/mds-attachment-service/package.json
  packages/mds-audit-service/package.json
  packages/mds-collector-api/package.json
  packages/mds-collector-api/tests/api.spec.ts
  packages/mds-collector-backend/@types/index.ts
  packages/mds-collector-backend/client/index.ts
  packages/mds-collector-backend/package.json
  packages/mds-collector-backend/repository/entities/index.ts
  packages/mds-collector-backend/repository/index.ts
  packages/mds-collector-backend/repository/migrations/1614811400362-CreateCollectorSchemasTable.ts
  packages/mds-collector-backend/repository/migrations/index.ts
  packages/mds-collector-backend/schemas/example.schema.ts
  packages/mds-collector-backend/service/backend.ts
  packages/mds-collector-backend/service/provider.ts
  packages/mds-collector-backend/tests/service.spec.ts
  packages/mds-geography-service/package.json
  packages/mds-ingest-service/package.json
  packages/mds-jurisdiction-service/package.json
  packages/mds-policy-service/package.json
  packages/mds-transaction-service/package.json
Due: pnpm lint:eslint, pnpm lint:prettier

Implement searching for statuses by transaction_ids
  packages/mds-transaction-api/api/index.ts
  packages/mds-transaction-api/tests/transaction-statuses.spec.ts
  packages/mds-transaction-service/@types/index.ts
  packages/mds-transaction-service/client/index.ts
  packages/mds-transaction-service/repository/index.ts
  packages/mds-transaction-service/service/manager.ts
  packages/mds-transaction-service/service/provider.ts
  packages/mds-transaction-service/service/validators.ts
  packages/mds-transaction-service/test-fixtures/index.ts
  packages/mds-transaction-service/tests/transaction-statuses.spec.ts
Due: pnpm lint:eslint

Path conditions:
  pnpm lint:eslint: any of: *.ts
  pnpm lint:prettier: any of: package.json
