Repository lacuna-tech/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

Use string for version
  packages/mds-transaction-api/middleware/transaction-api-version.ts
  packages/mds-transaction-api/schema-gen/TransactionApiVersionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
Due: pnpm lint:eslint -- --fix, pnpm generate

Add READMEs
  packages/mds-transaction-api/generate-schemas.ts
  packages/mds-transaction-api/schema-gen/README.md
  packages/mds-transaction-api/spec/README.md
Due: pnpm lint:eslint -- --fix, pnpm generate

Move schema & flat-spec generators to mds-schema-validators, parameterize and reuse
  packages/mds-schema-validators/generators/flat-spec-generator.ts
  packages/mds-schema-validators/generators/index.ts
  packages/mds-schema-validators/generators/schema-generator.ts
  packages/mds-schema-validators/index.ts
  packages/mds-schema-validators/package.json
  packages/mds-transaction-api/generate-flat-spec.ts
  packages/mds-transaction-api/generate-schemas.ts
  packages/mds-transaction-api/package.json
  packages/mds-transaction-api/schema-gen/README.md
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

Lower mds-schema-validators coverage threshold
  packages/mds-schema-validators/jest.config.js
Due: none

Restore test coverage % for mds-schema-validators, ignore generators
  packages/mds-schema-validators/generators/flat-spec-generator.ts
  packages/mds-schema-validators/generators/schema-generator.ts
  packages/mds-schema-validators/jest.config.js
Due: pnpm lint:eslint -- --fix, pnpm generate

Use enum for TransactionApiVersionSchema
  packages/mds-transaction-api/middleware/transaction-api-version.ts
  packages/mds-transaction-api/schema-gen/TransactionApiVersionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
Due: pnpm lint:eslint -- --fix, pnpm generate

Update example to not be an array, oopsie
  packages/mds-transaction-api/middleware/transaction-api-version.ts
  packages/mds-transaction-api/schema-gen/TransactionApiVersionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
Due: pnpm lint:eslint -- --fix, pnpm generate

Remove example
  packages/mds-transaction-api/middleware/transaction-api-version.ts
  packages/mds-transaction-api/schema-gen/TransactionApiVersionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
Due: pnpm lint:eslint -- --fix, pnpm generate

Revert "Remove example"
  packages/mds-transaction-api/middleware/transaction-api-version.ts
  packages/mds-transaction-api/schema-gen/TransactionApiVersionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
Due: pnpm lint:eslint -- --fix, pnpm generate

Add note to non-critical prototype Joi validation errors in mds-agency, update validator to allow null for some optional properties
  packages/mds-agency/request-handlers.ts
  packages/mds-schema-validators/validators.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Remove check for known provider_id from middleware, add test to verify functionality
  packages/mds-agency/api.ts
  packages/mds-agency/tests/integration-tests.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Ignore hosted-git-info advisory
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Fix transaction api version to 0.1.0 cause semver, reorder scripts
  packages/mds-transaction-api/@types/index.ts
  packages/mds-transaction-api/package.json
  packages/mds-transaction-api/spec/spec.yaml
Due: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

Bump spec
  packages/mds-transaction-api/schema-gen/TransactionApiVersionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
Due: none

Remove isProviderId
  packages/mds-policy/api.ts
  packages/mds-providers/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

too many exceptions
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Add isProviderId back cause type safety
  packages/mds-providers/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

remove audit exclusion
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Extract subject from Nats Msg and pass only that & data into cb
  packages/mds-stream/nats/codecs.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

new error stream for event contents
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-stream/helpers.ts
  packages/mds-stream/index.ts
  packages/mds-stream/kafka/agency-stream-kafka.ts
  packages/mds-stream/nats/agency-stream-nats.ts
  packages/mds-stream/types.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

write all error events to stream
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

updated topic name to event.error
  packages/mds-stream/kafka/agency-stream-kafka.ts
  packages/mds-stream/nats/agency-stream-nats.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Export rule schemas so they can be extended elsewhere
  packages/mds-schema-validators/validators.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Make middleware non-private, as this breaks any out-of-monorepo imports of mds-policy-author
  packages/mds-policy-author-middleware/package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Remove modality-policy-* packages, just include server.ts with default injection.
  container-images/mds-modality-policy-author/webpack.config.ts
  container-images/mds-modality-policy/webpack.config.ts
  container-images/mds-policy-author/Dockerfile
  container-images/mds-policy-author/package.json
  container-images/mds-policy-author/tsconfig.eslint.json
  container-images/mds-policy-author/webpack.config.ts
  container-images/mds-policy/Dockerfile
  container-images/mds-policy/package.json
  container-images/mds-policy/tsconfig.eslint.json
  container-images/mds-policy/webpack.config.ts
  helm/mds/values.yaml
  packages/mds-modality-policy-author/LICENSE
  packages/mds-modality-policy-author/README.md
  packages/mds-modality-policy-author/index.ts
  packages/mds-modality-policy-author/package.json
  packages/mds-modality-policy-author/tsconfig.build.json
  packages/mds-modality-policy-author/tsconfig.eslint.json
  packages/mds-modality-policy/LICENSE
  packages/mds-modality-policy/README.md
  packages/mds-modality-policy/index.ts
  packages/mds-modality-policy/package.json
  packages/mds-modality-policy/server.ts
  packages/mds-modality-policy/tsconfig.build.json
  packages/mds-modality-policy/tsconfig.eslint.json
  packages/mds-policy-author-middleware/index.ts
  packages/mds-policy-author-middleware/package.json
  packages/mds-policy-author-middleware/tsconfig.build.json
  packages/mds-policy-author-middleware/types.ts
  packages/mds-policy-author/api.ts
  packages/mds-policy-author/middleware.ts
  packages/mds-policy-author/package.json
  packages/mds-policy-author/policy-author-api-version.ts
  packages/mds-policy-author/server.ts
  packages/mds-policy-author/tests/api.spec.ts
  packages/mds-policy-author/tsconfig.build.json
  packages/mds-policy/server.ts
  pnpm-lock.yaml
  values.yaml.tpl
Due: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

Bump mds-policy version
  packages/mds-policy/package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Explain how middleware injection ordering is important
  packages/mds-policy-author/server.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

WIP starting new queries here
  packages/mds-ingest-service/repository/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

lol no
  packages/mds-ingest-service/repository/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Add MDS Compliance API OpenAPI spec
  packages/mds-compliance-api/generate-flat-spec.ts
  packages/mds-compliance-api/package.json
  packages/mds-compliance-api/spec/flat-spec.json
  packages/mds-compliance-api/spec/spec.yaml
Due: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

Add README to spec folder
  packages/mds-compliance-api/spec/README.md
Due: none

Add scopes to endpoints and version
  packages/mds-compliance-api/spec/flat-spec.json
  packages/mds-compliance-api/spec/spec.yaml
Due: none

Add error codes to spec, update error handling in Compliance API. Note, this should eventually be moved to a global error handling middleware.
  packages/mds-compliance-api/handlers/get-compliance-snapshot-ids.ts
  packages/mds-compliance-api/handlers/get-violation-details-snapshot.ts
  packages/mds-compliance-api/handlers/get-violation-periods.ts
  packages/mds-compliance-api/spec/flat-spec.json
  packages/mds-compliance-api/spec/spec.yaml
Due: pnpm lint:eslint -- --fix, pnpm generate

Add truly global error handling middleware, replace middlewares for transaction & collector APIs
  packages/mds-api-server/index.ts
  packages/mds-api-server/middleware/api-error-handling.ts
  packages/mds-api-server/package.json
  packages/mds-collector-api/api.ts
  packages/mds-collector-api/middleware/collector-api-error.ts
  packages/mds-transaction-api/api/index.ts
  packages/mds-transaction-api/middleware/index.ts
  packages/mds-transaction-api/middleware/transaction-api-error.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

WIP
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Add mds-logger debug logging, add express middleware for request debugging
  packages/mds-api-server/middleware/request-logging.ts
  packages/mds-logger/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Add extensibility to TripMetadata type
  packages/mds-types/trip.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Make most props optional
  packages/mds-types/trip.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Silly excessive typing
  packages/mds-types/trip.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Remove maintenance from TNC State Machine
  packages/mds-types/event.ts
  packages/mds-types/event_states_maps.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Path conditions:
  pnpm lint:eslint -- --fix: any of: *.ts
  pnpm generate: any of: *.ts
  pnpm lint:prettier -- --write: any of: package.json
  pnpm lint:audit: any of: package.json
