Repository lacuna-tech/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint, pnpm lint:prettier

.lintstagedrc.json:

{
  "*.ts": "pnpm lint:eslint",
  "package.json": "pnpm lint:prettier"
}

pre-commit + lint-staged
  .husky/pre-commit
  .lintstagedrc.json
  .pre-commit-config.yaml
Due: none

Add pre-commit filename check
  .pre-commit-config.yaml
Due: none

lint-staged in development; full lint on Jenkins
  Jenkinsfile
  package.json
Due: pnpm lint:prettier

Fix Jenkinsfile
  Jenkinsfile
Due: none

Run pnpm audit on package.json changes
  .lintstagedrc.json
  package.json
Due: pnpm lint:prettier

eslint-plugin-progress "off"
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Use "jest --passWithNoTests" instead of "exit 0"
  packages/mds-agency-cache/package.json
  packages/mds-providers/package.json
  packages/mds-test-data/package.json
  packages/mds-webpack-config/package.json
Due: pnpm lint:prettier

Remove redundant geojson modules
  .eslintignore
  @types/la-city-boundary.d.ts
  packages/mds-compliance/tests/engine-test.spec.ts
  packages/mds-compliance/tests/la-city-boundary.ts
  packages/mds-policy-author/tests/la-city-boundary.ts
  packages/mds-policy/tests/api.spec.ts
  packages/mds-policy/tests/la-city-boundary.ts
Due: pnpm lint:eslint

Reorganize test areas modules
  .eslintignore
  packages/mds-test-data/index.ts
  packages/mds-test-data/la-city-boundary.ts
  packages/mds-test-data/test-areas/district-seven.ts
  packages/mds-test-data/test-areas/la-city-boundary.ts
Due: pnpm lint:eslint

Update collector packages for npm
  container-images/mds-collector-api/package.json
  container-images/mds-collector-backend/package.json
  package.json
  packages/mds-collector-api/package.json
  packages/mds-collector-backend/package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Fix pretest script
  packages/mds-collector-backend/package.json
Due: pnpm lint:prettier

Rework the test file pretty significantly (still some work to be done), allow no-options for getTransactions
  .vscode/launch.json
  packages/mds-transactions-service/@types/index.ts
  packages/mds-transactions-service/repository/index.ts
  packages/mds-transactions-service/tests/service.spec.ts
Due: pnpm lint:eslint

Lots more cleanup, generators for all the things
  packages/mds-transactions-service/repository/index.ts
  packages/mds-transactions-service/tests/service.spec.ts
Due: pnpm lint:eslint

Undo fancy thing I attempted to do previously
  packages/mds-transactions-service/@types/index.ts
  packages/mds-transactions-service/repository/index.ts
  packages/mds-transactions-service/tests/service.spec.ts
Due: pnpm lint:eslint

Rework test suite a bit more, add some moar tests
  packages/mds-transactions-service/package.json
  packages/mds-transactions-service/tests/transaction-operations.spec.ts
  packages/mds-transactions-service/tests/transaction-statuses.spec.ts
  packages/mds-transactions-service/tests/transactions.spec.ts
Due: pnpm lint:eslint, pnpm lint:prettier

removing mds-compliance
  .vscode/launch.json
  container-images/mds-compliance/Dockerfile
  container-images/mds-compliance/package.json
  container-images/mds-compliance/tsconfig.eslint.json
  container-images/mds-compliance/webpack.config.ts
  packages/mds-compliance/LICENSE
  packages/mds-compliance/README.md
  packages/mds-compliance/api.ts
  packages/mds-compliance/constants.ts
  packages/mds-compliance/helpers.ts
  packages/mds-compliance/index.ts
  packages/mds-compliance/mds-compliance-cli.ts
  packages/mds-compliance/mds-compliance-engine.ts
  packages/mds-compliance/middleware/compliance-api-version.ts
  packages/mds-compliance/middleware/index.ts
  packages/mds-compliance/package.json
  packages/mds-compliance/server.ts
  packages/mds-compliance/test_data/devices.json
  packages/mds-compliance/test_data/events.json
  packages/mds-compliance/test_data/geographies.json
  packages/mds-compliance/test_data/low_limit_policy.json
  packages/mds-compliance/test_data/policies.json
  packages/mds-compliance/tests/api.spec.ts
  packages/mds-compliance/tests/engine-test.spec.ts
  packages/mds-compliance/tsconfig.build.json
  packages/mds-compliance/tsconfig.eslint.json
  packages/mds-compliance/types.ts
Due: pnpm lint:eslint, pnpm lint:prettier

adding the helm values and container image support for the new compliance api and service
  container-images/mds-compliance-api/Dockerfile
  container-images/mds-compliance-api/package.json
  container-images/mds-compliance-api/tsconfig.eslint.json
  container-images/mds-compliance-api/webpack.config.ts
  container-images/mds-compliance-service/Dockerfile
  container-images/mds-compliance-service/package.json
  container-images/mds-compliance-service/tsconfig.eslint.json
  container-images/mds-compliance-service/webpack.config.ts
  container-images/mds-compliance/webpack.config.ts
  helm/mds/values.yaml
  helm/mds/values.yaml.tpl
Due: pnpm lint:eslint, pnpm lint:prettier

Type hack I guess
  .vscode/launch.json
  container-images/mds-transactions-service/package.json
  packages/mds-transactions-api/handlers/get-transactions.ts
  packages/mds-transactions-service/@types/index.ts
  packages/mds-transactions-service/package.json
  packages/mds-transactions-service/repository/entities/transaction-entity.ts
  packages/mds-transactions-service/repository/index.ts
  packages/mds-transactions-service/tests/transactions.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

minor fixes
  packages/mds-compliance-service/repository/index.ts
Due: pnpm lint:eslint

minor fixes
  container-images/mds-compliance-service/package.json
  container-images/mds-compliance-service/webpack.config.ts
Due: pnpm lint:eslint, pnpm lint:prettier

minor fixes
  helm/mds/values.yaml
  helm/mds/values.yaml.tpl
Due: none

Suppress log noise from /health
  packages/mds-api-server/api-server.ts
  packages/mds-api-server/middleware/http-context.ts
  packages/mds-api-server/middleware/request-logging.ts
  packages/mds-api-server/package.json
  packages/mds-api-server/tests/index.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Manually specify reflect metadata because TypeORM generates improper definitions depending on environment
  packages/mds-transactions-service/repository/entities/transaction-entity.ts
Due: pnpm lint:eslint

Paging seems to be working in the API! Hurrah.
  .vscode/launch.json
  helm/mds/templates/deployment.yaml
  packages/mds-transactions-api/handlers/get-transactions.ts
  packages/mds-transactions-service/@types/index.ts
  packages/mds-transactions-service/client/index.ts
Due: pnpm lint:eslint

Add ForceType decorator to mds-repository
  packages/mds-repository/decorators/index.ts
  packages/mds-repository/index.ts
  packages/mds-transactions-service/repository/entities/transaction-entity.ts
Due: pnpm lint:eslint

Remove now defunct function
  packages/mds-transactions-service/repository/index.ts
Due: pnpm lint:eslint

minor fixes
  container-images/mds-compliance-service/package.json
Due: pnpm lint:prettier

Typos
  packages/mds-policy/tests/api.spec.ts
  packages/mds-transactions-service/tests/transaction-operations.spec.ts
  packages/mds-transactions-service/tests/transaction-statuses.spec.ts
Due: pnpm lint:eslint

Touch images.txt in build process if it doesn't exist
  bin/build-helper
Due: none

More descriptive variable name in parser
  packages/mds-transactions-api/handlers/get-transactions.ts
Due: pnpm lint:eslint

Decouple entity model from domain model
  packages/mds-collector-backend/repository/entities/index.ts
Due: pnpm lint:eslint

Include path with MODULE_NOT_FOUND errors
  packages/mds-collector-backend/service/provider.ts
Due: pnpm lint:eslint

Clean up tests a tad more
  packages/mds-transactions-service/tests/transactions.spec.ts
Due: pnpm lint:eslint

Decouple domain & entity models
  packages/mds-transactions-service/@types/index.ts
  packages/mds-transactions-service/repository/entities/operation-entity.ts
  packages/mds-transactions-service/repository/entities/status-entity.ts
  packages/mds-transactions-service/repository/entities/transaction-entity.ts
  packages/mds-transactions-service/repository/mappers.ts
  packages/mds-transactions-service/tests/transaction-statuses.spec.ts
Due: pnpm lint:eslint

Remove @ForceType usage
  packages/mds-transactions-service/repository/entities/transaction-entity.ts
Due: pnpm lint:eslint

Switch [...] as const declarations to <const>[...], clean up request parsers a tad
  packages/mds-transactions-api/handlers/get-transactions.ts
  packages/mds-transactions-service/@types/index.ts
  packages/mds-transactions-service/repository/index.ts
Due: pnpm lint:eslint

Switch to beforeEach/afterAll for repo nuking
  packages/mds-transactions-service/tests/transaction-operations.spec.ts
  packages/mds-transactions-service/tests/transaction-statuses.spec.ts
  packages/mds-transactions-service/tests/transactions.spec.ts
Due: pnpm lint:eslint
