Repository lacuna-tech/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint, pnpm lint:prettier

Add missing file, oop
  packages/mds-transaction-api/handlers/get-transactions-statuses.ts
Due: pnpm lint:eslint

Create PG backing store for collector schema cache
  packages/mds-collector-backend/@types/index.ts
  packages/mds-collector-backend/repository/entities/index.ts
  packages/mds-collector-backend/repository/index.ts
  packages/mds-collector-backend/repository/mappers.ts
  packages/mds-collector-backend/schema-validator.ts
  packages/mds-collector-backend/service/provider.ts
Due: pnpm lint:eslint

Allow Kafka producer to be nullable
  packages/mds-collector-backend/service/provider.ts
Due: pnpm lint:eslint

Fix vscode debug configurations for Windows
  .vscode/launch.json
Due: none

Type inferrence is fancy
  packages/mds-logger/index.ts
Due: pnpm lint:eslint

Add transaction_ids limit
  packages/mds-transaction-service/service/validators.ts
  packages/mds-transaction-service/tests/transaction-statuses.spec.ts
Due: pnpm lint:eslint

Move Sharp installation to after the workdir has been created to avoid idealTree error
  container-images/mds-attachment-service/Dockerfile
Due: none

The NonEmptyArray type is good in theory; awkward in practice
  packages/mds-collector-api/handlers/write-schema-messages.ts
  packages/mds-collector-backend/@types/index.ts
  packages/mds-collector-backend/service/provider.ts
  packages/mds-collector-backend/tests/service.spec.ts
Due: pnpm lint:eslint

mds-audit no longer requires sharp
  container-images/mds-audit/Dockerfile
Due: none

Fix mds-audit image; sharp is no longer required
  container-images/mds-audit/Dockerfile
Due: none

Upgrade TypeScript to resolve spurious module resolution failures with pnpm
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Add a collector service client factory
  packages/mds-collector-backend/client/index.ts
  packages/mds-collector-backend/tests/service.spec.ts
Due: pnpm lint:eslint

Remove an improperly named local
  packages/mds-collector-backend/tests/service.spec.ts
Due: pnpm lint:eslint

Minor change to factory signature
  packages/mds-collector-backend/client/index.ts
  packages/mds-collector-backend/tests/service.spec.ts
Due: pnpm lint:eslint

update query to nest telemetry properly
  packages/mds-db/events.ts
Due: pnpm lint:eslint

Remove spammy log for missing x-request-id header
  packages/mds-api-server/middleware/request-logging.ts
Due: pnpm lint:eslint

Fix npm scripts
  container-images/mds-transaction-api/package.json
Due: pnpm lint:prettier

Fix for Jenkins using stale container-images folders
  bin/build-helper
Due: none

Rename Kafka topic
  packages/mds-collector-backend/service/provider.ts
Due: pnpm lint:eslint

Export a type that can be used when generating a CollectorServiceClient
  packages/mds-collector-backend/client/index.ts
Due: pnpm lint:eslint

Bump mds-logger versions
  packages/mds-agency-cache/package.json
  packages/mds-agency/package.json
  packages/mds-api-server/package.json
  packages/mds-attachment-service/package.json
  packages/mds-audit/package.json
  packages/mds-cache/package.json
  packages/mds-collector-api/package.json
  packages/mds-collector-backend/package.json
  packages/mds-compliance/package.json
  packages/mds-daily/package.json
  packages/mds-db/package.json
  packages/mds-geography-author/package.json
  packages/mds-geography-service/package.json
  packages/mds-geography/package.json
  packages/mds-jurisdiction-service/package.json
  packages/mds-jurisdiction/package.json
  packages/mds-metrics-sheet/package.json
  packages/mds-policy-author/package.json
  packages/mds-policy/package.json
  packages/mds-repository/package.json
  packages/mds-rpc-common/package.json
  packages/mds-service-helpers/package.json
  packages/mds-stream/package.json
  packages/mds-test-data/package.json
  packages/mds-transaction-api/package.json
  packages/mds-transaction-service/package.json
  packages/mds-utils/package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Update mds-logger usage in mds-collector-backend
  packages/mds-collector-backend/service/provider.ts
Due: pnpm lint:eslint

readTripEvents finished and tested
  packages/mds-db/events.ts
  packages/mds-db/tests/mds-db.spec.ts
  packages/mds-test-data/index.ts
Due: pnpm lint:eslint

More logger usage updates
  packages/mds-collector-api/middleware/collector-api-error.ts
  packages/mds-transaction-service/service/provider.ts
Due: pnpm lint:eslint

Remove error-prone credential getting & updating that made basically no sense... Unsure how it ever worked.
  packages/mds-attachment-service/service/helpers/index.ts
Due: pnpm lint:eslint

Create shared alias for both QueryBuilder & TypeORM Cursor Paginator
  packages/mds-transaction-service/repository/index.ts
Due: pnpm lint:eslint

Remove ":" character from Kafka topic names
  packages/mds-collector-backend/service/provider.ts
Due: pnpm lint:eslint

cleanup event trip mapper
  packages/mds-db/events.ts
Due: pnpm lint:eslint

responding to PR
  packages/mds-db/events.ts
  packages/mds-db/tests/mds-db.spec.ts
Due: pnpm lint:eslint

Increase attachment-service RPC request size
  okteto.yml
  packages/mds-attachment-service/service/manager.ts
Due: pnpm lint:eslint

A little smoller
  packages/mds-attachment-service/service/manager.ts
Due: pnpm lint:eslint

Add infinite logging depth for nested JSON
  packages/mds-logger/index.ts
  packages/mds-logger/tests/index.spec.ts
Due: pnpm lint:eslint

adds search on json, fee_type, amount range
  packages/mds-transaction-service/@types/index.ts
  packages/mds-transaction-service/repository/index.ts
  packages/mds-transaction-service/test-fixtures/index.ts
  packages/mds-transaction-service/tests/transactions.spec.ts
Due: pnpm lint:eslint

add index migrations
  packages/mds-transaction-service/repository/entities/transaction-entity.ts
  packages/mds-transaction-service/repository/migrations/1615586339528-TransactionsSearchIndicies.ts
  packages/mds-transaction-service/repository/migrations/index.ts
Due: pnpm lint:eslint

fixed to use GIN index, derp / duh
  packages/mds-transaction-service/repository/migrations/1615586339528-TransactionsSearchIndicies.ts
Due: pnpm lint:eslint

fixing type suggestion
  packages/mds-transaction-service/repository/index.ts
Due: pnpm lint:eslint

cleanup temp vars
  packages/mds-transaction-service/repository/index.ts
  packages/mds-transaction-service/repository/migrations/1615586339528-TransactionsSearchIndicies.ts
Due: pnpm lint:eslint

updates some test var names
  packages/mds-transaction-service/tests/transactions.spec.ts
Due: pnpm lint:eslint

re-enable all tests
  packages/mds-transaction-service/tests/transactions.spec.ts
Due: pnpm lint:eslint

Add provider access scoping to /transactions client
  packages/mds-transaction-api/@types/index.ts
  packages/mds-transaction-api/api/index.ts
  packages/mds-transaction-api/handlers/get-transactions.ts
  packages/mds-transaction-api/tests/transactions.spec.ts
  packages/mds-transaction-service/@types/index.ts
Due: pnpm lint:eslint

Path conditions:
  pnpm lint:eslint: any of: *.ts
  pnpm lint:prettier: any of: package.json
