Repository lacuna-tech/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

.lintstagedrc.json:

{
  "*.ts": ["pnpm lint:eslint -- --fix", "pnpm generate"],
  "package.json": ["pnpm lint:prettier -- --write ", "pnpm lint:audit"]
}

s/MODALITY_//
  values.yaml.tpl
Due: none

Allow randomElement function to operate on const arrays
  packages/mds-utils/utils.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

filters and tests WIP
  packages/mds-ingest-service/package.json
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/tests/index.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

Ignore vulnerabiity
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Apply type to head/tail functions
  packages/mds-utils/utils.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

adds all 3 grouping modes, tests all filters, adds trip_id/timestamp index
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/migrations/1603212540962-CreateEventsTable.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

loads telemetry in query, maps telemetry to domain models
  packages/mds-ingest-service/repository/entities/event-entity.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/mappers/event-mappers.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

rename to getEvents
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

boom
  packages/mds-ingest-service/repository/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Lockfile fixes
  pnpm-lock.yaml
Due: none

Ignore advisory 1753 from Lerna
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Update dependencies to latest (except TypeScript)
  package.json
  packages/mds-agency-cache/package.json
  packages/mds-agency/package.json
  packages/mds-api-authorizer/package.json
  packages/mds-api-server/package.json
  packages/mds-attachment-service/package.json
  packages/mds-audit-service/package.json
  packages/mds-audit/package.json
  packages/mds-cache/package.json
  packages/mds-collector-api/package.json
  packages/mds-collector-backend/package.json
  packages/mds-compliance-api/package.json
  packages/mds-compliance-engine/package.json
  packages/mds-compliance-service/package.json
  packages/mds-db/package.json
  packages/mds-geography-author/package.json
  packages/mds-geography-service/package.json
  packages/mds-geography/package.json
  packages/mds-ingest-service/package.json
  packages/mds-jurisdiction-service/package.json
  packages/mds-jurisdiction/package.json
  packages/mds-policy-author/package.json
  packages/mds-policy-service/package.json
  packages/mds-policy/package.json
  packages/mds-repository/package.json
  packages/mds-rpc-common/package.json
  packages/mds-schema-validators/package.json
  packages/mds-stream/package.json
  packages/mds-transaction-api/package.json
  packages/mds-transaction-service/package.json
  packages/mds-webpack-config/package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Fix breaking changes
  packages/mds-compliance-engine/mds-compliance-cli.ts
  packages/mds-webpack-config/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

eslint --fix (prettier formatting updates)
  packages/mds-api-server/middleware/api-version.ts
  packages/mds-api-server/middleware/authorization.ts
  packages/mds-api-server/middleware/maintenance-mode.ts
  packages/mds-attachment-service/service/validators.ts
  packages/mds-audit-service/repository/entities/audit-attachment-entity.ts
  packages/mds-audit-service/service/validators.ts
  packages/mds-audit/api.ts
  packages/mds-cache/redis/index.ts
  packages/mds-compliance-service/repository/entities/compliance-snapshot-entity.ts
  packages/mds-db/events.ts
  packages/mds-db/sql-utils.ts
  packages/mds-geography-service/service/validators.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-jurisdiction/handlers/create-jurisdiction.ts
  packages/mds-jurisdiction/handlers/delete-jurisdiction.ts
  packages/mds-jurisdiction/handlers/get-jurisdictions.ts
  packages/mds-jurisdiction/handlers/update-jurisdiction.ts
  packages/mds-jurisdiction/handlers/utils.ts
  packages/mds-logger/index.ts
  packages/mds-policy-service/service/validators.ts
  packages/mds-service-helpers/client/index.ts
  packages/mds-stream/index.ts
  packages/mds-transaction-api/handlers/get-transactions.ts
  packages/mds-transaction-service/repository/entities/operation-entity.ts
  packages/mds-transaction-service/repository/entities/status-entity.ts
  packages/mds-transaction-service/service/validators.ts
  packages/mds-types/transformers/1_0_0_to_0_4_1/devices.ts
  packages/mds-utils/utils.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Fix Jest complaint about hooks without tests
  packages/mds-attachment-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

adds client service
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Fix import and add missing project reference
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tsconfig.build.json
Due: pnpm lint:eslint -- --fix, pnpm generate

Fix duplicate values in VEHICLE_EVENTS_v1_1_0 and VEHICLE_STATES_v1_1_0
  packages/mds-types/event.ts
  packages/mds-types/vehicle/vehicle_states.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Fix error handling middleware in bundled (minified) images.
  packages/mds-api-server/middleware/api-error-handling.ts
  packages/mds-service-helpers/client/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Data pipeline needs trip metadata recorded property for watermarking.
  packages/mds-agency/request-handlers.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

added tests around ServiceClient and validation schema
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/package.json
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
  packages/mds-ingest-service/tsconfig.build.json
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

added :limit parameter to the API/query
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

ignoring advisories: https://npmjs.com/advisories/1748 Regular Expression Denial of Service (MODERATE) and https://npmjs.com/advisories/1755 Regular Expression Denial of Service (HIGH)
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

fix lock file
  pnpm-lock.yaml
Due: none

fix lock file
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Remove trip metadata cache writes
  packages/mds-agency-cache/index.ts
  packages/mds-agency/request-handlers.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Switch device validation to AJV
  packages/mds-agency/package.json
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-agency/types.ts
  packages/mds-agency/utils.ts
  packages/mds-db/devices.ts
  packages/mds-ingest-service/index.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-types/device.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm generate, pnpm lint:prettier -- --write, pnpm lint:audit

agencyErrorParser -> agencyValidationErrorParser, remove old comment
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/utils.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

enable defaults for AJV
  packages/mds-agency/request-handlers.ts
  packages/mds-ingest-service/service/validators.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Accept device registration for devices with any integer year
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-agency/utils.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

implemented get devices
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

optimize finder with = ANY(:ids)
  packages/mds-ingest-service/repository/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

removed unsed name variable:
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

added test for invalid uuid
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

added test for valid and invalid device uuid
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Fix telemetry response type in accordance with 1.0 spec, optimize bulk telemetry device checks some, add handful of tests
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-agency/types.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Add explicit type to avoid munging down the road
  packages/mds-agency/request-handlers.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

Use a Set instead of Map, clean up for loop with mutation in favor of reducer
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/types.ts
  packages/mds-api-server/@types/index.ts
Due: pnpm lint:eslint -- --fix, pnpm generate

increase nodejs heap allocation during test phase
  Jenkinsfile
Due: none

commentary
  Jenkinsfile
Due: none
