Repository lacuna-tech/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint, pnpm lint:prettier

Remove debug statement
  packages/mds-transaction-api/handlers/get-transactions.ts
Due: pnpm lint:eslint

Replace error throw with non-null assertion, add provider_id uuid validation, fix typo in test name
  packages/mds-transaction-api/@types/index.ts
  packages/mds-transaction-api/api/index.ts
  packages/mds-transaction-api/handlers/get-transactions.ts
  packages/mds-transaction-api/tests/transactions.spec.ts
Due: pnpm lint:eslint

Fix variable typo
  packages/mds-transaction-api/handlers/get-transactions.ts
Due: pnpm lint:eslint

update postgres docker images for tests to PG11, stop AND remove containers when done
  Jenkinsfile
Due: none

updates query with proper trip_id count, adds index to allow pagination on trip_id
  packages/mds-db/events.ts
  packages/mds-db/tests/mds-db.spec.ts
  packages/mds-ingest-service/repository/entities/event-entity.ts
  packages/mds-ingest-service/repository/migrations/1615994540391-EventEntity.ts
Due: pnpm lint:eslint

cleanup junk
  packages/mds-db/events.ts
Due: pnpm lint:eslint

fixed failing mds-audit and mds-policy-author tests
  packages/mds-audit/service.ts
  packages/mds-audit/tests/api.spec.ts
  packages/mds-policy-author/api.ts
  packages/mds-policy-author/tests/api.spec.ts
Due: pnpm lint:eslint

Initialize streams (Kafka/NATS) when starting Agency API Server
  packages/mds-agency/server.ts
  packages/mds-stream/index.ts
Due: pnpm lint:eslint

Only install husky during prepare step
  package.json
Due: pnpm lint:prettier

updates trip query to filter on recorded, filter on trip_id
  packages/mds-db/events.ts
Due: pnpm lint:eslint

strict join
  packages/mds-db/events.ts
Due: pnpm lint:eslint

Export SchemaValidator for JSON Schema validation
  packages/mds-collector-backend/index.ts
Due: pnpm lint:eslint

Make redis connection logs more informative
  packages/mds-cache/redis/helpers/client.ts
Due: pnpm lint:eslint

Improve SchemaValidator types
  packages/mds-collector-backend/@types/index.ts
  packages/mds-collector-backend/repository/entities/index.ts
  packages/mds-collector-backend/schema-validator.ts
  packages/mds-collector-backend/service/provider.ts
  packages/mds-collector-backend/tests/schema-validator.spec.ts
Due: pnpm lint:eslint

Add mds-transaction-service and mds-transaction-api to values template
  values.yaml.tpl
Due: none

Use ValidationError to wrap raw ajv errors
  packages/mds-collector-backend/schema-validator.ts
  packages/mds-collector-backend/tests/schema-validator.spec.ts
Due: pnpm lint:eslint

Verify that defaultOptions is available before use
  packages/mds-logger/index.ts
Due: pnpm lint:eslint

Add Circ Provider entry
  packages/mds-providers/index.ts
Due: pnpm lint:eslint

Extend agency lat/lng bounds to allow anything in the world except 0,0
  packages/mds-agency/utils.ts
Due: pnpm lint:eslint

Updating test now that I understand JSON Schema better
  packages/mds-collector-backend/schemas/test.schema.ts
Due: pnpm lint:eslint

Get latest version of ajv/ajv-formats
  packages/mds-collector-backend/package.json
  packages/mds-collector-backend/schema-validator.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Fix test schema
  packages/mds-collector-backend/schemas/test.schema.ts
Due: pnpm lint:eslint

Refactor error destructure
  packages/mds-collector-backend/schema-validator.ts
Due: pnpm lint:eslint

ESLint (ignore spec files in CI) and fix warning
  package.json
  packages/mds-repository/decorators/index.ts
Due: pnpm lint:eslint, pnpm lint:prettier

adds additional index on events(timestamp), updates them to be indempontent, concurrent
  packages/mds-ingest-service/repository/migrations/1615994540391-EventEntity.ts
Due: pnpm lint:eslint

Move JSON schema based validator to mds-schema-validators
  .vscode/launch.json
  packages/mds-collector-api/package.json
  packages/mds-collector-api/tests/api.spec.ts
  packages/mds-collector-api/tsconfig.build.json
  packages/mds-collector-backend/index.ts
  packages/mds-collector-backend/package.json
  packages/mds-collector-backend/schema-validator.ts
  packages/mds-collector-backend/service/provider.ts
  packages/mds-collector-backend/tests/service.spec.ts
  packages/mds-collector-backend/tsconfig.build.json
  packages/mds-schema-validators/index.ts
  packages/mds-schema-validators/jest.config.js
  packages/mds-schema-validators/package.json
  packages/mds-schema-validators/tests/schema-validator.spec.ts
  packages/mds-schema-validators/tests/test.schema.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Move mds-schema-validators to devDependency
  packages/mds-collector-api/package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Switch validator tests from mocha/unit.js to Jest
  packages/mds-schema-validators/tests/validators.spec.ts
Due: pnpm lint:eslint

filters on timestamp, now that index is added
  packages/mds-db/events.ts
Due: pnpm lint:eslint

Latest ajv
  packages/mds-collector-backend/package.json
  packages/mds-schema-validators/package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Monthly dependency update
  .eslintrc.json
  package.json
  packages/mds-agency-cache/package.json
  packages/mds-agency/package.json
  packages/mds-api-authorizer/package.json
  packages/mds-api-server/package.json
  packages/mds-attachment-service/package.json
  packages/mds-audit-service/package.json
  packages/mds-audit/package.json
  packages/mds-cache/package.json
  packages/mds-cache/redis/helpers/client.ts
  packages/mds-collector-api/package.json
  packages/mds-collector-backend/package.json
  packages/mds-compliance/package.json
  packages/mds-daily/package.json
  packages/mds-db/package.json
  packages/mds-db/sql-utils.ts
  packages/mds-geography-author/package.json
  packages/mds-geography-service/package.json
  packages/mds-geography/package.json
  packages/mds-ingest-service/package.json
  packages/mds-jurisdiction-service/package.json
  packages/mds-jurisdiction/package.json
  packages/mds-logger/index.ts
  packages/mds-policy-author/package.json
  packages/mds-policy-service/package.json
  packages/mds-policy/package.json
  packages/mds-repository/package.json
  packages/mds-rpc-common/package.json
  packages/mds-schema-validators/package.json
  packages/mds-stream/package.json
  packages/mds-transaction-api/package.json
  packages/mds-transaction-service/package.json
  packages/mds-utils/package.json
  packages/mds-webpack-config/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Switch to nats.js from ts-nats due to deprecation
  packages/mds-stream/nats/helpers.ts
  packages/mds-stream/nats/stream-consumer.ts
  packages/mds-stream/nats/stream-producer.ts
  packages/mds-stream/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Add decoding wrapper to Nats messages
  packages/mds-stream/index.ts
  packages/mds-stream/nats/codecs.ts
  packages/mds-stream/nats/helpers.ts
  packages/mds-stream/nats/stream-consumer.ts
Due: pnpm lint:eslint

quick bug fix on REGISTRY STRING
  bin/build-helper
Due: none

Updating function name to be more logical
  bin/build-helper
Due: none

Clean up Collector API scopes and checks
  packages/mds-collector-api/@types/index.ts
  packages/mds-collector-api/api.ts
  packages/mds-collector-api/tests/api.spec.ts
Due: pnpm lint:eslint

removing formatRegistry from pushImages.
  bin/build-helper
Due: none

Update lock files
  pnpm-lock.yaml
Due: none

Clean up transformers typing
  packages/mds-schema-validators/v0_4_1/index.ts
  packages/mds-types/index.ts
  packages/mds-types/transformers/1_0_0_to_1_1_0/devices.ts
  packages/mds-types/transformers/index.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint

cleaning up mds-types
  packages/mds-types/base.ts
  packages/mds-types/device.ts
  packages/mds-types/event.ts
  packages/mds-types/event_states_maps.ts
  packages/mds-types/index.ts
  packages/mds-types/policy.ts
  packages/mds-types/telemetry.ts
  packages/mds-types/transformers/@types/1_0_0.ts
  packages/mds-types/trip.ts
  packages/mds-types/vehicle/vehicle_states.ts
  packages/mds-types/vehicle/vehicle_types.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint

Path conditions:
  pnpm lint:eslint: any of: *.ts
  pnpm lint:prettier: any of: package.json
