Repository lacuna-tech/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint, pnpm lint:prettier

minor fixes
  packages/mds-types/index.ts
Due: pnpm lint:eslint

renaming mds-types/base.ts to mds-types/utils.ts
  packages/mds-types/device.ts
  packages/mds-types/event.ts
  packages/mds-types/index.ts
  packages/mds-types/policy.ts
  packages/mds-types/telemetry.ts
  packages/mds-types/trip.ts
  packages/mds-types/utils.ts
  packages/mds-types/vehicle/vehicle_types.ts
Due: pnpm lint:eslint

fixing syntax error after moving conditional
  bin/build-helper
Due: none

removing RIGHT_OF_WAY const
  packages/mds-types/device.ts
Due: pnpm lint:eslint

Relax trip metadata schema (make most properties optional, keep old required bits commented out for posterity). Add patch support, that is really just the same as POST.
  packages/mds-agency/api.ts
  packages/mds-schema-validators/trip-metadata-validators.ts
Due: pnpm lint:eslint

Update tripMetadataSchema comments
  packages/mds-schema-validators/trip-metadata-validators.ts
Due: pnpm lint:eslint

Update TripMetadata tests
  packages/mds-agency/tests/integration-tests.spec.ts
Due: pnpm lint:eslint

minor fixes
  packages/mds-agency/jest-tests/taxi-test-helpers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-agency/tests/request-handlers.spec.ts
  packages/mds-agency/utils.ts
  packages/mds-audit/tests/api.spec.ts
  packages/mds-compliance-api/tests/fixtures.ts
  packages/mds-compliance-engine/test_data/fixtures.ts
  packages/mds-compliance-engine/tests/engine/count-tests.spec.ts
  packages/mds-compliance-service/tests/fixtures.ts
  packages/mds-test-data/index.ts
  packages/mds-test-data/policies.ts
  packages/mds-types/vehicle/vehicle_types.ts
Due: pnpm lint:eslint

Update docker image names, delete old lingering Dockerfile for mds-policy, update values.yaml, update values.yaml.tpl
  container-images/mds-modality-policy-author/package.json
  container-images/mds-modality-policy/package.json
  container-images/mds-policy/Dockerfile
  helm/mds/values.yaml
  values.yaml.tpl
Due: pnpm lint:prettier

APM wip
  packages/mds-api-server/api-server.ts
  packages/mds-api-server/index.ts
  packages/mds-api-server/middleware/apm-error-capture.ts
  packages/mds-api-server/package.json
  packages/mds-api-server/tsconfig.build.json
  packages/mds-rpc-common/server/index.ts
  packages/mds-rpc-common/tests/index.spec.ts
  packages/mds-service-helpers/package.json
  packages/mds-service-helpers/server/index.ts
  packages/mds-utils/apm-service.ts
  packages/mds-utils/exceptions/exceptions.ts
  packages/mds-utils/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

update type to 0.4 type
  packages/mds-db/events.ts
Due: pnpm lint:eslint

fix query bug, bad alias in trip_id query
  packages/mds-db/events.ts
Due: pnpm lint:eslint

fix telemetry object mapping
  packages/mds-db/events.ts
Due: pnpm lint:eslint

skip is UUID not number
  packages/mds-db/events.ts
Due: pnpm lint:eslint

readTripEvents: adds provider_id query constraint
  packages/mds-db/events.ts
  packages/mds-db/tests/mds-db.spec.ts
  packages/mds-db/types.ts
Due: pnpm lint:eslint

readTripEvent: remove distinct trip_id count
  packages/mds-db/events.ts
  packages/mds-db/tests/mds-db.spec.ts
Due: pnpm lint:eslint

gps optional attributes when null should be ignored
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-agency/utils.ts
Due: pnpm lint:eslint

Install latest pnpm version and update lock file
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Force restart on db failover
  packages/mds-repository/exceptions.ts
Due: pnpm lint:eslint

Update dependencies
  package.json
  packages/mds-agency-cache/package.json
  packages/mds-attachment-service/package.json
  packages/mds-audit/package.json
  packages/mds-cache/package.json
  packages/mds-collector-backend/package.json
  packages/mds-compliance-api/package.json
  packages/mds-compliance-engine/package.json
  packages/mds-db/package.json
  packages/mds-modality-policy-author/package.json
  packages/mds-modality-policy/package.json
  packages/mds-policy-author-middleware/package.json
  packages/mds-repository/package.json
  packages/mds-schema-validators/package.json
  packages/mds-schema-validators/validators.ts
  packages/mds-stream/package.json
  packages/mds-transaction-service/package.json
  packages/mds-utils/package.json
  packages/mds-webpack-config/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Fix scripts to use pnpm instead of yarn
  packages/mds-compliance-api/package.json
  packages/mds-compliance-engine/README.md
  packages/mds-compliance-service/package.json
  packages/mds-modality-policy-author/package.json
  packages/mds-modality-policy/package.json
  packages/mds-policy-author-middleware/package.json
Due: pnpm lint:prettier

Fix response type for POST transaction operation
  packages/mds-transaction-api/handlers/add-operation.ts
Due: pnpm lint:eslint

Clarify writeTelemetry error message
  packages/mds-agency-cache/index.ts
Due: pnpm lint:eslint

Use AJV/JSON-Schema for validating transactions
  packages/mds-stream/package.json
  packages/mds-transaction-service/generate-schemas.ts
  packages/mds-transaction-service/package.json
  packages/mds-transaction-service/schema-gen/TransactionOperationSchema.json
  packages/mds-transaction-service/schema-gen/TransactionSchema.json
  packages/mds-transaction-service/schema-gen/TransactionStatusSchema.json
  packages/mds-transaction-service/service/validators.ts
  packages/mds-transaction-service/test-fixtures/index.ts
  packages/mds-transaction-service/tests/transactions.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Add transaction-api spec, move spec & schema generation to mds-transaction-api package
  packages/mds-transaction-api/generate-schemas.ts
  packages/mds-transaction-api/package.json
  packages/mds-transaction-api/schema-gen/TransactionOperationSchema.json
  packages/mds-transaction-api/schema-gen/TransactionSchema.json
  packages/mds-transaction-api/schema-gen/TransactionStatusSchema.json
  packages/mds-transaction-api/spec/flat-spec.yaml
  packages/mds-transaction-api/spec/spec.yaml
  packages/mds-transaction-service/index.ts
  packages/mds-transaction-service/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Generate schemas upon any TS changes
  .lintstagedrc.json
  package.json
Due: pnpm lint:prettier

Use husky instead of precommit, and automatically check-in generated schemas
  .husky/pre-commit
  .lintstagedrc.json
  packages/mds-transaction-api/generate-schemas.ts
  packages/mds-transaction-api/package.json
Due: pnpm lint:eslint, pnpm lint:prettier

Re-order package.json scripts, automatically git-add spec/flat-spec.yaml
  packages/mds-transaction-api/package.json
Due: pnpm lint:prettier

Remove leftover .only from testing
  packages/mds-transaction-service/tests/transactions.spec.ts
Due: pnpm lint:eslint

Drop usage of speccy, switch to json-schema-ref-parser
  packages/mds-transaction-api/generate-flat-spec.ts
  packages/mds-transaction-api/package.json
  packages/mds-transaction-api/spec/flat-spec.json
  packages/mds-transaction-api/spec/flat-spec.yaml
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

json-schema-ref-parser should be a dev dependency
  packages/mds-transaction-api/package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

Fix transaction api version in spec
  packages/mds-transaction-api/spec/flat-spec.json
  packages/mds-transaction-api/spec/spec.yaml
Due: none

Add examples & descriptions
  packages/mds-transaction-api/schema-gen/TransactionOperationSchema.json
  packages/mds-transaction-api/schema-gen/TransactionSchema.json
  packages/mds-transaction-api/schema-gen/TransactionStatusSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
  packages/mds-transaction-service/service/validators.ts
Due: pnpm lint:eslint

Add version schema
  packages/mds-transaction-api/generate-schemas.ts
  packages/mds-transaction-api/middleware/transaction-api-version.ts
  packages/mds-transaction-api/package.json
  packages/mds-transaction-api/schema-gen/TransactionApiVersionSchema.json
  packages/mds-transaction-api/schema-gen/TransactionOperationSchema.json
  packages/mds-transaction-api/schema-gen/TransactionSchema.json
  packages/mds-transaction-api/schema-gen/TransactionStatusSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
  packages/mds-transaction-api/spec/spec.yaml
  packages/mds-transaction-service/service/validators.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Bump to latest ajv-formats version
  packages/mds-schema-validators/package.json
  packages/mds-transaction-api/middleware/transaction-api-version.ts
  packages/mds-transaction-api/schema-gen/TransactionApiVersionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier

Use uri instead of url
  packages/mds-transaction-api/schema-gen/TransactionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
  packages/mds-transaction-service/service/validators.ts
Due: pnpm lint:eslint

Remove receipt key
  packages/mds-transaction-api/schema-gen/TransactionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
  packages/mds-transaction-service/service/validators.ts
Due: pnpm lint:eslint

Add explicit any type to avoid plethora of TS issues, wow these types get complex
  packages/mds-transaction-service/service/validators.ts
Due: pnpm lint:eslint

Use REDIS_PASS in mds-stream redis client
  packages/mds-stream/index.ts
Due: pnpm lint:eslint

Export SchemaObject type to re-use in explicit typedef for schemas list
  packages/mds-schema-validators/index.ts
  packages/mds-transaction-service/service/validators.ts
Due: pnpm lint:eslint

Path conditions:
  pnpm lint:eslint: any of: *.ts
  pnpm lint:prettier: any of: package.json
